name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker containers
        run: docker compose build

      - name: Run containers
        run: docker compose up -d

      - name: Stop containers
        run: docker compose down
